/*css starts here   */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:SpotifyMixUI,CircularSp,Helvetica,Arial,sans-serif;
    font-family: var(--encore-title-font-stack);

}
/* ** navbar start's here **  */

nav{
    border: 2px solid gray;
    height: 96px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    color:white;
}
nav div{
    width: 151%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav svg{
    height: 40px;
    fill:white;
}
nav ol{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 65%;
}
nav div{
    width: 15%;
}
nav div+div{
    width: 47%;
}

nav li{
    font-size: 20px;
    font-weight: 600;
}

nav li:hover{
    cursor:pointer;
    color: #1ed760;
}

/*Navbar ends here  */

/* main started here */
main{
    /* border: 2px solid pink; */
    height: 700px;
    background:url(./assert/desktop-hero.jpeg) center 40% / 100% no-repeat;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
main h1{
    font-size: 80px;
    letter-spacing: -2px;
    text-align: center;
    color: white;
}
main button{
    border-radius: 25px;
    height: 60px;
    width: 180px;
    background-color: white;
    border: none;
    font-size: 20px;
    color: black;
    font-weight: 700px;
    font-family: var(--encore-body-font-stack);
}

#sec1{
    /* border: 2px solid rgb(55, 0, 255); */
    height: 800px;
}
section h1{
    text-align: center;
    font-size: 55px;
}
aside{
    /* border: 2px solid red; */
    /* height: 400px; */
    /* width: 400px; */
    display: flex;
    justify-content:center;
    /* justify-content: space-around; */
    align-items: center;
    gap: 25px;
    
}
aside div{
    /* border: 2px solid red; */
    height: 300px;
    width: 350px;
    font-size: 20px;
    text-align: center;
}
#sec1 p{
    line-height: 25px;
    letter-spacing: 1px;
}
#sec2{
    /* border: 2px solid red; */
    height: 600px;
    background-color: rgb(30, 215, 96);
    /* text-align: center;
    font-size: 60px;
    letter-spacing: -1px; */
}
#sec2 h1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    font-weight: 900px;
    letter-spacing: -1px;
    /* position: absolute;
    /* bottom:200px; */
    
}


#sec2 img{
    width: 750px;
    height: 440px;
    position: absolute;
    left: 30%;
    
    
}
#sec3 h1{
    text-align: center;
    font-size: 40px;
    letter-spacing: -1px;
}
#sec3 aside{
    width: 70%;
    height: inherit;
}
#sec3 article{
    border: 2px solid;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec3 summary{
    list-style: none;
    height: 80px;
    padding: 25px;
    border-bottom: 1px solid lightgray;
    font-weight: 600;
    font-size: 18px;
}
#sec3 span{
    float: right;
    font-size: 30px;
}
#sec3 summary:hover{
    cursor: pointer;
    background-color: rgba(247, 237, 237, 0.911);
    text-decoration: underline;
}
#sec3 font{
    color: green;
    font-weight: 600;
}
#sec3 p{
    padding: 25px;
}
#sec4{
    /* border: 2px solid blue; */
    height: 600px;
    background: url(./assert/desktop-closing.jpeg);
    background-size:cover;
    background-position-x: center;
    background-position-y: 35%;
    align-items: center;

}
#sec4 aside{
    display: flex;
    flex-direction: column;
}
#sec4 h1{
    font-size: 100px;
    color:white;
    letter-spacing: -1.5px;
    
}
#sec4 button{
    border-radius: 25px;
    height: 60px;
    width: 180px;
    background-color: white;
    border: none;
    font-size: 20px;
    color: black;
    font-weight: 700px;
    font-family: var(--encore-body-font-stack);
}
/* body part ended here */
/* footer part start's here */
footer{ 
    /* border: 2px solid red; */
    height: 600px;
    background-color: black;
    color: white;
    
}
.footer_one{
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: white;
    gap: 20PX;


}
.spotify_icon{
    display: flex;
    margin-left: 20%;
}

footer ol{
    list-style: none;
    line-height: 30px;
    position: absolute;
    /* bottom: 120px; */
    
    
}
footer li{
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;

    /* position: absolute; */
    /* left: 15px; */
}

footer ol :hover{
    cursor: pointer;
    color: #1ed760;
}
.social{
    /* border: 2px solid red; */
    height: 70px;
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    gap: 30px;
}
.icon{
    /* border: 2px solid red; */
    height: 50px;
    width: 50px;
    border-radius: 60%;
    padding: 10px;
    background-color:#222326;
}
.last_art{
    display: flex;
    justify-content: space-evenly;
}
.under_data{
    list-style: none;
    display: flex;
    gap: 30px;
    /* margin-left: 15%; */
    size: 10px;
}
.under_data li:hover{
    cursor: pointer;
    color: #1ed760;

}
.under_data li{
    font-size: 15px;
    color: whitesmoke;
    
}
.last_data{
    list-style: none;


}
.last_data li{
    font-size: 15px;
}
.last_data li:hover{
    cursor: pointer;
    color: #1ed760;

}
/*css ends here  */
